body {
background: black; }

.lifeway-container {
width: 990px;
font-size: 12px;
font-family: helvetica;
color: #505050;
margin: 0 auto; }

.header {
height: 310px; }

.banner-container {
height: 90px;
background: red;
margin-bottom: 21px; }

.banner-container-little {
height: 50px;
background: red;
float: left;
width: 100%; }

.login-button {
text-align: center;
border: 1px solid #efefef;
width: 80px;
margin-left: 7px;
float: left; }
.login-button a {
color: #efefef;
text-decoration: none; }

.network-menu {
margin: 30px 0px 10px;
height: 20px;
float: left;
width: 855px; }

.network-menu-list {
float: right; }
.network-menu-list .network-menu-item {
border-right: 1px solid #efefef;
float: left;
padding: 0px 7px; }
.network-menu-list .network-menu-item a {
color: #efefef;
text-decoration: none;
margin-top: 40px; }

.logo {
width: 135px;
height: 50px;
float: left; }

.site-menu {
height: 69px;
float: left;
width: 100%;
background: white;
margin-bottom: 10px; }
.site-menu .site-menu-item {
float: left;
text-align: center;
border-right: 1px solid #505050;
padding: 25px; }
.site-menu .site-menu-item:first-child {
padding: 11px 25px 10px; }
.site-menu .site-menu-item a {
color: #505050;
text-decoration: none; }

.body {
background: gainsboro;
height: auto;
width: 100%;
display: block; }

.first-column-body {
width: 677px;
float: left;
display: block; }

.block {
margin-bottom: 7px; }

.evidence {
height: 380px;
background: red; }
.evidence .title {
display: inline-block;
margin: 263px 0px 10px 15px;
width: 650px; }
.evidence .title h1 {
color: #efefef;
font-size: 24px;
font-weight: 200;
margin: 0px;
line-height: 24px; }
.evidence .subtitle {
width: 650px;
margin: 0px 0px 0px 15px;
padding-bottom: 10px;
border-bottom: 1px solid #efefef; }
.evidence .subtitle h3 {
color: #efefef;
font-size: 18px;
font-weight: 200;
margin: 0px;
line-height: 18px; }
.evidence .read {
width: 650px;
margin: 20px 0px 0px 15px;
color: #efefef; }

.articles {
height: auto; }
.articles .article {
width: 315px;
background: white;
height: 310px;
float: left;
padding: 10px; }
.articles .article .category {
color: gainsboro;
font-weight: 150;
height: 22px;
border-bottom: 2px solid gainsboro;
margin-bottom: 7px; }
.articles .article .title {
color: #505050;
font-weight: 150;
margin-bottom: 7px; }
.articles .article .excerpt {
color: #505050;
font-weight: 100;
margin-bottom: 7px; }
.articles .article:nth-child(even) {
margin-left: 7px;
background: transparent;
padding: 0px;
width: 335px;
height: 330px; }
.articles .article .image {
width: 100%;
float: left;
height: 207px;
background: red; }
.articles .article .articles-half {
height: 162px; }
.articles .article .articles-half:nth-child(even) {
margin-top: 6px; }
.articles .article .articles-half .article-half {
background: white;
height: 142px;
width: 144px;
padding: 10px;
float: left; }
.articles .article .articles-half .article-half .title {
color: #505050;
font-size: 10px;
margin-bottom: 7px; }
.articles .article .articles-half .article-half:nth-child(even) {
margin-left: 7px; }
.articles .article .articles-half .article-half .image {
width: 100%;
float: left;
height: 86px;
background: red; }

.articles-second {
height: auto; }
.articles-second .article {
width: 315px;
background: white;
height: 310px;
float: left;
padding: 10px; }
.articles-second .article .category {
color: gainsboro;
font-weight: 150;
height: 22px;
border-bottom: 2px solid gainsboro;
margin-bottom: 7px; }
.articles-second .article .title {
color: #505050;
font-weight: 150;
margin-bottom: 7px; }
.articles-second .article .excerpt {
color: #505050;
font-weight: 100;
margin-bottom: 7px; }
.articles-second .article:nth-child(even) {
margin-left: 7px; }
.articles-second .article .image {
width: 100%;
float: left;
height: 207px;
background: red; }

.articles-third {
height: auto; }
.articles-third .article {
background: transparent;
padding: 0px;
width: 335px;
height: 330px;
float: left; }
.articles-third .article .category {
color: gainsboro;
font-weight: 150;
height: 22px;
border-bottom: 2px solid gainsboro;
margin-bottom: 7px; }
.articles-third .article .title {
color: #505050;
font-weight: 150;
margin-bottom: 7px; }
.articles-third .article .excerpt {
color: #505050;
font-weight: 100;
margin-bottom: 7px; }
.articles-third .article:nth-child(even) {
margin-left: 7px; }
.articles-third .article .image {
width: 100%;
float: left;
height: 207px;
background: red; }
.articles-third .article .articles-half {
height: 162px; }
.articles-third .article .articles-half:nth-child(even) {
margin-top: 6px; }
.articles-third .article .articles-half .article-half {
background: white;
height: 142px;
width: 144px;
padding: 10px;
float: left; }
.articles-third .article .articles-half .article-half .title {
color: #505050;
font-size: 10px;
margin-bottom: 7px; }
.articles-third .article .articles-half .article-half:nth-child(even) {
margin-left: 7px; }
.articles-third .article .articles-half .article-half .image {
width: 100%;
float: left;
height: 86px;
background: red; }
.articles-third .article .articles-half .article-half-list {
background: white;
padding: 10px;
height: 142px; }
.articles-third .article .articles-half .article-half-list .category {
color: gainsboro;
font-weight: 150;
height: 22px;
border-bottom: 2px solid gainsboro;
margin-bottom: 7px; }
.articles-third .article .articles-half .article-half-list .item {
margin: 7px 0px; }
.articles-third .article .articles-half .article-half-list .item .title {
line-height: 12px; }
.articles-third .article .articles-half .article-half-list .item .excerpt {
line-height: 10px; }

.talent-scout {
padding: 10px;
background: white;
width: 657px;
height: auto; }
.talent-scout .title {
color: gainsboro;
border-bottom: 2px solid gainsboro; }
.talent-scout .photo-button-container {
margin: 7px auto;
height: auto;
width: 371px; }
.talent-scout .photo-button-container .week-photo {
padding: 7px 14px;
text-align: center;
color: gainsboro;
width: 150px;
border: 2px solid gainsboro;
float: left; }
.talent-scout .photo-button-container .month-photo {
padding: 7px 14px;
margin-left: 7px;
text-align: center;
color: gainsboro;
width: 150px;
border: 2px solid gainsboro;
float: left; }
.talent-scout .your-photos .title {
color: gainsboro;
border: none;
margin: 14px 0px; }
.talent-scout .your-photos .photo {
width: 118px;
height: 163px;
margin-right: 14px;
border: 1px solid gainsboro;
float: left; }
.talent-scout .your-photos .photo .image {
width: 118px;
height: 118px;
background: red; }
.talent-scout .your-photos .photo .category {
padding: 10px;
text-align: center;
color: gainsboro; }

.photogallery .first-column {
padding: 10px;
background: white;
width: 486px;
height: auto;
float: left; }
.photogallery .first-column .title {
color: gainsboro;
border-bottom: 2px solid gainsboro;
width: 100%;
float: left; }
.photogallery .first-column .big-photo {
width: 270px;
float: left; }
.photogallery .first-column .big-photo .title {
width: 95%;
float: left;
color: #505050;
margin: 7px 0px;
border: none; }
.photogallery .first-column .big-photo .excerpt {
width: 95%;
float: left;
color: #505050;
line-height: 12px;
margin-bottom: 10px; }
.photogallery .first-column .big-photo .image {
width: 95%;
float: left;
height: 187px;
background: red; }
.photogallery .first-column .article-list {
width: 209px;
float: left; }
.photogallery .first-column .article-list .title {
width: 100%;
float: left;
color: #505050;
margin: 7px 0px;
border: none; }
.photogallery .first-column .article-list .item {
width: 100%;
float: left;
margin: 7px 0px; }
.photogallery .first-column .article-list .item .image {
width: 60px;
height: 40px;
background: red;
float: left; }
.photogallery .first-column .article-list .item .text {
float: right;
width: 65%; }
.photogallery .first-column .article-list .item .text .title {
margin: 0px; }
.photogallery .first-column .article-list .item .text .excerpt {
line-height: 12px; }
.photogallery .second-column {
background: transparent;
float: left;
margin-left: 7px;
width: 164px;
height: auto; }
.photogallery .second-column .item {
padding: 5px 10px 10px 10px;
width: 144px;
background: white;
font-size: 10px; }
.photogallery .second-column .item .category {
color: gainsboro;
line-height: 10px;
margin-top: 4px;
height: 10px;
margin-bottom: 0px; }
.photogallery .second-column .item .title {
color: #505050;
line-height: 10px;
margin: 3px 0px; }
.photogallery .second-column .item .photo {
width: 100%;
background: red;
height: 105px; }
.photogallery .second-column .item:nth-child(odd) {
margin-bottom: 7px; }
.photogallery .second-column .item-adv {
width: 164px;
height: 150px;
background: white; }

.disclaimer {
padding: 10px;
background: #f4f4f4;
height: auto;
width: 657px;
font-size: 10px;
line-height: 10px; }

.second-column-body {
width: 306px;
float: left;
margin-left: 7px;
display: block; }

.newsletter {
height: 50px;
background: red; }

.social {
height: 50px;
background: red; }

.adv-simil-square {
background: white;
padding: 3px;
width: 300px;
height: 256px; }
.adv-simil-square .image {
background: red;
width: 100%;
height: 100%; }

.adv-boxes {
background: white;
padding: 15px 10px 0px 10px;
width: 286px;
height: 256px; }
.adv-boxes .image {
background: #efefef;
width: 100%;
height: 73px;
border: 1px solid #efefef;
float: left;
margin-bottom: 7px; }

.network-articles {
padding: 10px;
line-height: 12px;
background: white;
height: auto; }
.network-articles .title {
color: #efefef; }
.network-articles .article {
padding: 10px 0px;
border-bottom: 2px solid #efefef;
height: auto; }
.network-articles .article .title {
color: #505050;
margin: 5px 0px; }
.network-articles .article .excerpt {
color: #505050;
margin: 5px 0px; }
.network-articles .article .author {
color: #efefef;
text-align: right;
margin: 5px 0px; }

.images-adv {
padding: 10px;
background: white; }
.images-adv .image {
height: 268px;
background: red; }

.disclaimer-contacts {
padding: 10px;
background: #f4f4f4; }

.network-footer-menu {
padding: 10px;
margin: 7px 0px;
background: #505050;
height: 20px;
color: gainsboro; }
.network-footer-menu .title {
float: left;
font-size: 22px;
line-height: 22px;
letter-spacing: 11px;
font-weight: 200; }
.network-footer-menu .menu {
float: right; }
.network-footer-menu .menu .item {
float: left;
padding: 0px 7px;
border-right: 1px solid #f4f4f4; }

.breadcrumbs {
background: white;
padding: 10px;
font-size: 10px;
line-height: 10px;
color: gainsboro; }

.categories {
background: white;
padding: 10px;
color: #505050; }

.category {
margin-bottom: 20px;
height: 180px; }
.category .image {
height: 180px;
width: 290px;
background: red;
float: left;
padding-right: 20px;
border-right: 1px solid gainsboro; }
.category .text {
height: 180px;
float: left;
margin: 0px 0px 0px 20px;
color: #505050;
width: 300px; }
.category .text .title {
padding: 20px 0px;
border-bottom: 1px solid gainsboro; }
.category .text .excerpt {
padding: 20px 0px;
line-height: 12px; }

.post-body {
background: white;
padding: 10px; }
.post-body .title {
font-size: 20px;
line-height: 20px;
font-weight: bold; }
.post-body .subtitle {
font-size: 15px;
line-height: 15px;
font-weight: 100;
margin-bottom: 20px; }
.post-body .first-column-post {
padding-right: 10px;
width: 168px;
border-right: 1px solid gainsboro;
float:left; }
.post-body .second-column-post {
width:465px;
margin-left: 10px;
float:left; }
.post-body .first-column-post .share-box {
padding: 10px 0px;
border-bottom: 1px solid gainsboro;
margin-bottom: 10px; }
.post-body .first-column-post .related-post-box .title {
color: #efefef;
font-size: 10px;
line-height: 10px; }
.post-body .first-column-post .related-post-box .item {
margin-top: 10px; }
.post-body .first-column-post .related-post-box .item .title {
font-size: 10px;
line-height: 10px;
color: #505050;
margin: 10px 0px; }
.post-body .first-column-post .related-post-box .item .img {
background: red;
height: 118px; }
.post-body .first-column-post .related-post-box .item .excerpt {
line-height: 8px;
font-size: 8px; }
.clearfix {
*zoom: 1; }
.clearfix:before, .clearfix:after {
display: table;
content: ""; }
.clearfix:after {
clear: both; }